# Python
__pycache__/
*.py[cod]
*$py.class

# Baza danych
db.sqlite3
db.sqlite3-journal
*.sqlite3

# Środowisko wirtualne
venv/
env/
ENV/
.venv/

# IDE / Edytory
.vscode/
.idea/
*.swp
*.swo

# Konfiguracja lokalna i pliki systemowe
.env
local_settings.py
*.log
.DS_Store
Thumbs.db

# Inne wygenerowane pliki
static/
media/
